<div class="tickerContainer">
	<div class="ticker ticker-pause">
		<div>
			&nbsp;
		</div>
	</div>
	<div class="ticker-buttons">
	</div>
</div>

<div class="ticker-popup" style="display: none">
	<div class="ticker-popup-header"></div>
	<div class="ticker-popup-content"></div>
	<div class="ticker-popup-buttons">
		<button id="idTickerSetRead"><img src="@Url.Content("~/Content/Images/ticker-set-read.png")" /></button>
		<button id="idTickerOpen"><img src="@Url.Content("~/Content/Images/ticker-open.png")" /></button>
		<button id="idTickerClose"><img src="@Url.Content("~/Content/Images/ticker-close.png")" /></button>
	</div>
</div>

<div class="ticker-menu" style="display: none">
	<div id="ticker-menu-active">
		<img id="ticker-checked" src="@Url.Content("~/Content/Images/ticker-check.png")" />
		<img id="ticker-unchecked" src="@Url.Content("~/Content/Images/ticker-uncheck.png")" />
		Active
	</div>
	<div id="ticker-menu-open-hit">View Result</div>
	<div id="ticker-menu-open-search">Open Search Result List</div>
</div>